/* Responsive Styles */
@media (max-width: 1200px) {
    .main-text h1 {
        font-size: 2.5rem;
    }
    
    .main-text p {
        font-size: 18px;
    }
    
    .main-image img {
        width: 60%;
    }
    
    .about .about-text {
        width: 400px;
    }
    
    .about .about-image img {
        height: 500px;
        width: 400px;
    }
}

@media (max-width: 992px) {
    .main-section {
        flex-direction: column;
        padding: 20px;
    }
    
    .main-text {
        width: 100%;
        margin-top: 0;
    }
    
    .main-image {
        width: 100%;
        margin-top: 20px;
    }
    
    .main-image img {
        width: 100%;
        margin-left: 0;
    }
    
    .about {
        flex-direction: column;
        align-items: center;
    }
    
    .about .about-text {
        width: 90%;
    }
    
    .about .about-image img {
        width: 100%;
        height: auto;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .skill .headline h1 {
        font-size: 4vw;
    }
    
    .skill .headline p {
        font-size: 18px;
    }
    
    .skill .techcontainer {
        padding: 15px;
        max-width: 90%;
    }
    
    .skill .techcontainer h1 {
        font-size: 4vw;
    }
}